langchain
langchain-core
langchain-community

langchain-groq
langchain-google-genai
langchain_chroma
faiss-cpu

pypdf
pymupdf

dotenv

streamlit

fastapi
uvicorn
requests
python-multipart
pydantic
youtube-transcript-api